/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), Arial, sans-serif;
  font-variation-settings: wght var(--font-weight-text);
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(to right, var(--color-linear) 0px 2px, transparent 2px 4px), 
                    repeating-linear-gradient(var(--color-linear) 0px 2px, transparent 2px 4px), 
                    repeating-linear-gradient(var(--color-linear-gradient-one) 0% 0.01%, var(--color-linear-gradient-two));
  background-size: cover;
  background-attachment: fixed;
}

.header {
  max-width: 700px;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content min-content;
  justify-items: center;
  
  background-color: var(--background-color);

  margin: 0 auto;
  margin-block-start: 100px;
  margin-block-end: 100px;

  font-family: var(--font-family-accent), fantasy, sans-serif;
  font-weight: var(--font-weight-text);

  border: 2px solid var(--color-border-block);
}

.header__logo {
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7808rem + 1.4085vw, 4.0625rem);
  margin-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  margin-block-end: 20px;
  outline: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.7165rem + 0.7923vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-end: 24px;
}

.header__theme-menu {
  margin-block-end: 10px;
}

.theme-menu__item {
  margin-block-end: 10px;
  margin-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  border: 1px solid transparent;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
 
.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -20px;
  bottom: 2px;
  animation: arrow 0.5s ease-in-out infinite alternate;
  opacity: 0.6;
}

@keyframes arrow {
  from {
    left: -20px;
  }
  to {
    left: -24px;
  }
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color-focus-focus-visible);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

/* основной контент */

.card {
  min-width: 375px;
  max-width: 696px;
  background-color: var(--background-color);
  margin: 0 auto;
  margin-block-end: 52px;
}

.card__outline {
  border: 2px solid var(--color-border-block);
}

.card__title {
  max-width: 351px;
  font-size: var(--font-size);
  font-weight: var(--font-weight-title);
  margin-inline-start: 10px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.card__picture {
  position: relative;
  border: none;
}

.card__picture-label {
  font-family: var(--font-family-accent), fantasy, sans-serif;
  font-weight: var(--font-weight-text);
  font-size: 14px;
  position: absolute;
  right: 11px;
  top: 25px;
  text-shadow:
  -1px 0 var(--color-stroke), 
   0 1px var(--color-stroke), 
   1px 0 var(--color-stroke), 
   0 -1px var(--color-stroke);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .card__picture-label {
      -webkit-text-stroke: 1px var(--color-stroke);
      text-stroke: 1px var(--color-stroke);
      text-shadow: none;
  }
} 

.card__picture-img {
  aspect-ratio: 1 / 1;
  -webkit-aspect-ratio: 1 / 1;
  width: 100%;
  display: block;
  object-fit: contain;
  border: 1px solid var(--color-border-block);
}

.contrast {
  filter: contrast(200%), saturate(100%);
} 

.brightness {
  filter: brightness(105%);
}

.blur {
  filter: blur(5px);
}

.grayscale {
  filter: grayscale(10);
}

.saturate {
  filter: saturate(200%);
}

.hue-rotate {
  filter: hue-rotate(180deg);
} 

.sepia {
  filter: sepia(100%);
} 

.mix-filter {
  filter: sepia(1) contrast(2) blur(5px);
}

.card__description {
  display: flex;
  flex-direction: column;
  max-width: 646px;
  gap: 27px;
  font-size: var(--font-size);
  font-weight: var(--font-weight-text);
  line-height: 21px;
  margin: 23px 25px 24px 25px;
}

.card__group-btn {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 10px;
  position: relative;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  margin-bottom: 15px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  max-height: 38px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.like-icon {
  display: block;
  width:  36px;
  height: 36px;
}

.sparks {
  opacity: 0;
  fill: #FF0000;
} 

/* hover для сердца */

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--color-core-hover);
  transition-delay: 0;
} 

.like-icon:hover .main-body {
  fill: var(--color-main-body-hover);
  transition-delay: 0.03s;
} 

/* нажатая кнопка */

.like-icon:active .core {
  fill: var(--color-core);
  transition-delay: 0;
} 

.like-icon:active .main-body {
  fill: var(--color-main-body);
  transition-delay: 0.03s;
} 

/* клик по кнопке */

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--color-core);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--color-main-body);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: #FF0000;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in alternate;
  transition: animation 0.1s;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in alternate;
  transition: animation 0.3s;
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon .contour {
  transition: fill 0.1s linear;
  fill: var(--color-contour);
}

/* кнопка like */

.card__like-button {
  position: relative;
  width: 130px;
  max-height: 38px;
  padding: 0;
}

.button-general {
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  border: 2px solid transparent;
  border-color: var(--accent-color);
}

.button-general:focus {
  outline: none;
}

.button-general:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button-general::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}


.button-general:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  color: var(--button-color);
  mix-blend-mode: difference;
  font-family: var(--font-family-accent), fantasy, sans-serif;
  font-size: 14px;
  font-weight: var(--font-weight-text);
}

/* save и dialog */

.block__button {
  margin-block-end: 100px;
}

.button-save {
  min-width: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--background-color);
  padding-block-start: 15px;
  padding-block-end: 15px;
  position: relative;
}

.button-save__floppy {
  width: 28px;
  height: 28px;
  fill: currentColor;
  color: var(--button-color);
  mix-blend-mode: difference;
  margin-block-end: 7px;
}

dialog {
  min-width: 341px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.dialog__content-floppy {
  width: 39px;
  height: 39px;
  margin-right: 20px;
  margin-top: 10px;
  fill: currentColor;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.dialog__content-text {
  max-width: 198px;
  font-family: var(--font-family-accent), Arial, sans-serif;
  font-size: 14px;
  font-weight: var(--font-weight-text);
  line-height: 21px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.dialog__close-btn {
  position: relative;
  width: min(100%, 257px);
  display: block;
  min-height: 38px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.dialog__close-btn-text {
  color: var(--button-color);
  mix-blend-mode: difference;
  font-family: var(--font-family-accent), Arial, sans-serif;
  font-size: 14px;
  font-weight: var(--font-weight-text);
}


@media (width >= 1024px) {
  .card__title {
    max-width: 100%;
  }

  .card__picture-label {
    right: 22px;
  }

  .button-save {
    min-width: 335px;
    flex-direction: row;
    padding: 10px;
  }

  .button-save__floppy {
    width: 21px;
    height: 21px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
  }

  dialog {
    min-width: 353px;
  }

  .dialog__content {
    margin-left: 10px;
    margin-top: 15px;
  }

  .dialog__close-btn {
    width: min(100%, 293px);
  }

}

@media (width <= 375px) {
  .header__logo {
    font-size: clamp(2.125rem, -1.5114rem + 18.1818vw, 2.75rem);
  }
  
  .card {
    min-width: 320px;
  }
}