/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-main: 'Inter-Variable';
    --font-family-accent: 'Press Start 2P';
    --font-weight-title: 700;
    --font-weight-text: 400;
    --font-size: 18px;
}